<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="DataConnectionString" value="DefaultEndpointsProtocol=https;AccountName=kekadev;AccountKey=GjmL/ZxznU8puCUJjYrx41Rq4T+p/lo7lBCogSrYCDfNEutJn+RAtPyt7JXAdHp5Rn8SalSxKgsS2+lG22lxAQ==" />
  </appSettings>
</configuration>